h1, h2, p {
  font-family: Roboto, Arial;
  color: #3b3b3b;

  > span {
    transition: color .2s;
  }
}

h1.Text__Title-Endpoint {
  font-size: 30px;
}

h2.Text__Title-Method {
  font-size: 22px;
}

p {
  &.Text__Description-Method {
    font-size: 16px;
  }

  &.Text__Description-Endpoint {
    font-size: 18px;
  }

  &.Text__Small {
    font-size: 14px;
  }
}
