.Navigation {
  width: 300px;
  border-right: 1px solid #d3d3d3;
  margin-top: 20px;

  ul {
    list-style-type: none;
    margin: 0;

    p {
      padding: 25px;
      cursor: pointer;
      word-break: break-all;

      &:hover {
        color: #868686;
      }
    }

    li {
      ul {
        margin-bottom: 25px;
        padding-left: 40px;
        padding-right: 20px;

        p {
          padding: 0;
          margin-bottom: 35px;
        }
      }
    }
  }
}
