.ResponseExample {
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #d0d0d0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}

.ResponseExample pre {
  font-size: 16px;
}
