.Schema {
  background-color: #fff;
  padding: 16px;
  border: 1px solid #ebebeb;
  font-family: monospace;
  font-weight: 400
}

.Schema .Schema__name {
	font-size: 12px;
}

.Schema .Schema__brace {
	font-size: 12px;
	color: gray;
}

.Schema ul {
  list-style: none;
  margin: 0;
  padding: 0 0px 0px 0px;
}

.Property {
  padding-left: 18px;
  padding-bottom: 2px;
  display: flex;
}

.Property .Property__key {
  width: 250px;
  font-size: 12px;
}

.Property .Property__type {
  color: blue;
  font-weight: bold;
  font-size: 11px;
}

.Property .Property__required {
  color: red;
  font-weight: bold;
  font-size: 11px;
}

.Property .Property__values {
  width: calc(50% - 18px);
  margin-left: 18px;
}

.Property .Property__example {
  font-size: 12px;
  font-style: italic;
}

.Property .Property__description {
  font-size: 12px;
}

.ToggleSchema .ToggleSchema__title {
  font-size: 12px;
  margin-right: 6px;
  font-weight: bold;
}

.ToggleSchema .ToggleSchema__brace {
  color: gray;
}
