.Results {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  overflow-y: auto;
  height: 400px;

  > ul {
    > li {
      margin: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d4d4d4;
    }
  }
}
